// Reedsy Discover
@charset 'utf-8'

// Libraries
@import 'kouto-swiss'
@import 'jeet'
@import 'rupture'

// Kouto helpers
box-sizing-reset()
normalize()

// settings
$green      = #ABD733
$dark-grey  = #363636
$light-grey = #E8E9E4
$grey       = #A9A9A9
$blue       = #439FC6
$black      = #272727
$white      = #ffffff
$red        = #EC5552
$beige      = #F5F1EE


// Styles
@require 'components/book-suggestions'
@require 'components/book-card'
@require 'components/book-list'
@require 'components/book-view'

@require 'layout'
@require 'icons'